---
nav_title: District
title: 'Quaker Springs Fire District #1'
nav_order: 6
policies:
    - name: 01-Agricultural-Exemption-Policy.pdf
    
    
---
<h3 style="text-align: center;">2026 Board of Fire Commissioners</h3>

<ul style="list-style-type: none; text-align: center; padding-left: 0">
    <li>Nelson Snowden – Chairman</li>
    <li>Melissa Blackbird</li>
    <li>Christopher Lago</li>
    <li>Paul Medick, Sr.</li>
    <li>David Poltynski</li>
    <li>Tom Tyler - Secretary/Treasurer</li>
    <li>Anne Crandall - Director of Purchasing & District Administrator</li>
</ul>

<h3>Monthly Meeting</h3>
<p>The Board of Fire Commissioners meets the 4th Monday of each month at 7
pm, with the exception of October when the meeting will be held on Tuesday,
October 20th at 7pm and May when the meeting will be held on Tuesday, May 26th at 7pm.
In addition, a 2nd monthly Commissioners’ meeting might
be held, immediately following the Quaker Springs Fire Department monthly
meeting at approximately 7:45pm, only if needed for urgent agenda items.</p>
<p>Meetings are held at the main firehouse on Blodgett Road off Route 32 in the
hamlet of Quaker Springs, with the exception of May when the meeting
will be held at our substation at 1432 NYS Rt 9P at the north end of Saratoga Lake.</p>
<p>All meetings of the Board of Fire Commissioners are open to the public.
Members and the public are encouraged to attend.</p>

<h3>Active Policies</h3>
{% assign social_url = "qsfd.com/assets/pdf/policies/" %}
<div class="row">
    <div class="col-md-12" style="column-count: 2;">
        <ul>
            {% for policy in page.policies %}
			  <a href="http://{{ social_url|append:{{policy.name}}">Visit my Policy</a>
            {% endfor %}
        </ul>
    </div>
</div>
<!--
<h3>Active Policies</h3>
<div class="row">
    
        <ul>
            {% for policy in page.policies %}
		     <li>{{policy.name}} &mdash; {{policy.name}} </li>
            {% endfor %}
        </ul>
   
</div>      
-->							   
<!--          
<h3>Active Policies</h3>
<div class="row">
    <div class="col-md-12" style="column-count: 1;">
        <ul>
            {% for policy in page.policies %}
              <li> {{policy.link}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
 -->
